.hero {
  background-image: url(./assets/hero.webp);
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
  background-position: 70% 10%;
  z-index: -100;
  filter: contrast(90%);
}
